@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";
@use "../../../styles/scss/typography/mixins" as type;
@use "../../../styles/scss/spacing" as s;

.section {
  @include mixins.md {
    & > div:first-child {
      margin-bottom: s.$spacer-48;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: s.$spacer-80;

  h2 {
    @include mixins.sm {
      white-space: break-spaces;
    }
  }

  p {
    margin-bottom: s.$spacer-16;
  }
}

.illustration {
  @include mixins.md {
    display: none;
  }
}

.primaryContent {
  & > div {
    & > p {
      margin-left: 0;
      margin-bottom: 16px;
    }

    & > div {
      p {
        margin: 0;
      }
    }
  }

  h2 {
    margin-bottom: 48px;
  }

  @include mixins.lg {
    margin-bottom: 60px;
    text-align: center;
  }
}
