@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";
@use "../../../styles/scss/spacing" as s;

.section {
  @include mixins.md {
    & > div:first-child {
      margin-bottom: s.$spacer-48;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: s.$spacer-80;

  h2 {
    @include mixins.sm {
      white-space: break-spaces;
    }
  }

  p {
    margin-bottom: s.$spacer-16;
  }
}

.illustration {
  @include mixins.md {
    display: none;
  }
}

.primaryContent {
  p {
    margin: 0;
  }

  h1 {
    margin-bottom: 48px;
  }
  h3 {
    margin-bottom: 24px;
  }

  @include mixins.lg {
    margin-bottom: 60px;
    text-align: center;
  }
}
