@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.section {
  scroll-margin-top: 110px;

  @include mixins.lg {
    margin-top: 150px;
  }

  :global {
    .col-12.col-lg-3.offset-lg-5 {
      &:hover {
        z-index: 5;
      }
    }
    .col-12.col-lg-6:nth-child(4) {
      &:hover {
        z-index: 3;
      }
    }
    .col-12.col-lg-6:nth-child(3) {
      &:hover {
        z-index: 3;
      }
    }
  }
}

.intro {
  text-align: center;
  margin-bottom: 100px;

  h4 {
    margin: 0 auto 25px;
  }
  h1 {
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 0;
  }

  @include mixins.md {
    margin-bottom: 50px;
    h1 {
      white-space: break-spaces;
    }
  }
}