@use "../../../styles/scss/mixins";
@use "../../../styles/scss/colors";

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include mixins.md {
    padding-top: calc(80px + 80px);
    height: auto;
  }
}

.content {
  text-align: center;
  white-space: break-spaces;

  @include mixins.md {
    white-space: normal;
  }

  & > * {
    margin: 0;
  }

  h2 {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  h4 {
    margin: 0 auto;
  }
}

.socials {
  margin-top: 60px;

  strong {
    color: colors.$black;
  }

  a {
    width: 100%;
    justify-content: center;
    column-gap: 24px;
    height: 56px;

    @include mixins.md {
      column-gap: 16px;
    }

    &:hover {
      strong {
        color: colors.$white;
      }
    }
  }
}
