@import '../../../styles/scss/colors';
@import '../../../styles/scss/mixins';

.section {
  margin-top: 125px;

  @include md() {
    margin-top: 100px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid $ghost;

  small {
    color: $ghost;
    @include md() {
      order: 1;
      margin-top: 15px;
    }
  }

  & > a:last-child {
    cursor: pointer;

    svg {
      margin-right: 10px;
    }
  }

  @include md() {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
}

.socials {
  display: flex;
  align-items: center;
  & > a:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}