@use "../../../styles/scss/mixins";

.section {
  article {
    h2 {
      margin-bottom: 40px;
    }
    & > p {
      margin-bottom: 16px;
      margin-left: 0;
    }
    div {
      margin-top: 35px;
    }
  }

  @include mixins.md {
    margin-top: 150px;
  }
  @include mixins.lg {
    article {
      margin-top: 64px;
    }
  }
}
