@use "../../../styles/scss/mixins";

.section {
  article {
    h1 {
      margin-top: 60px;
      margin-bottom: 40px;
    }
    h3 {
      margin: 0;
    }
    div {
      margin-top: 35px;
    }
  }

  @include mixins.md {
    margin-top: 150px;
  }
}