@use '../../../styles/scss/colors';
@use '../../../styles/scss/mixins';
@use '../../../styles/scss/keyframes';

@include mixins.pin-pulse(colors.$pink);

.image {
  position: relative;

  & > div {
    z-index: 1;
    position: relative;
    width: max-content;
    margin: auto;
    background: colors.$black;

    & > div {
      position: absolute;
      top: 140px;
      left: -25px;
      z-index: -1;
    }

    img:not(img:first-child) {
      position: absolute;
      transition: transform 200ms ease-out;
    }
    //david
    img:first-child {
      position: relative;
    }
    // color
    svg {
      position: absolute;
      top: 60px;
      left: 260px;
      transition: all 1500ms ease;

      &:global(.active) {
        left: 40px;
      }
    }
    // seal
    img:nth-of-type(2) {
      top: 0;
      right: 0;
      animation: rotate 10s linear infinite;
    }
    // comment
    img:nth-of-type(3) {
      bottom: 25px;
      right: -65px;
      @include mixins.md {
        display: none;
      }
    }
    // pattern
    img:nth-of-type(4) {
      bottom: 175px;
      left: -25px;
    }
    // pin
    img:nth-of-type(5) {
      bottom: 135px;
      right: 145px;
      border-radius: 50%;
      animation: pin-pulse 2s infinite;
      @include mixins.md {
        display: none;
      }
    }
    // exploring the infinite
    img:nth-of-type(6) {
      bottom: -5px;
      left: 90px;
      transform: rotate(-10deg);
      transform-origin: top right;
    }
  }
}