@use "../../../../styles/scss/colors";
@use "../../../../styles/scss/mixins";

.question {
  opacity: 0.3;
  transition: all 500ms ease;
  scroll-margin-top: 350px;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 24px;
    flex-wrap: wrap;

    & > div {
      display: none;
      column-gap: 16px;

      svg {
        height: 20px;
        width: 20px;
      }

      small {
        color: colors.$error;
      }
    }
  }

  &[type="radio"],
  &[type="checkbox"] {
    scroll-margin-top: 300px;

    &:global(.error) {
      .title {
        & > div {
          display: flex;
        }
      }
    }
  }

  &:global(.error) {
    textarea {
      border-image: none !important;
      border-color: colors.$error !important;
    }
    svg {
      opacity: 1;
    }

    small {
      opacity: 1;
    }
  }

  h3 {
    position: relative;
    font-weight: 500;
    margin-bottom: 0;

    &::before {
      content: counter(question) ". ";
      position: absolute;
      right: calc(100% + 8px);
      counter-increment: question;
      color: colors.$magenta;

      @include mixins.lg {
        position: relative;
        right: auto;
        font-size: 20px;
      }
    }

    @include mixins.lg {
      font-size: 20px;
    }
  }

  small {
    color: colors.$carbon;
  }
}
