@use "../../../styles/scss/mixins";
@use "../../../styles/scss/spacing" as s;
@use "../../../styles/scss/typography/mixins" as type;

.textContent {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  white-space: break-spaces;

  @include mixins.sm {
    white-space: normal;
  }

  p {
    &:first-child {
      @include type.overline;
      margin-bottom: s.$spacer-16;
      margin-left: 0;
    }

    &:last-child {
      margin-top: s.$spacer-24;
      margin-bottom: s.$spacer-48;
    }
  }

  h2 {
    white-space: break-spaces;
    margin-bottom: s.$spacer-32;

    @include mixins.xl {
      white-space: normal;
    }
  }

  @include mixins.sm {
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

.callToAction {
  display: flex;
  flex-wrap: wrap;
  gap: s.$spacer-24;

  @include mixins.sm {
    justify-content: center;
  }
}
