@use "../../../../styles/scss/mixins";
@use "../../../../styles/scss/colors";

.section {
  & > div {
    & > div {
      & > div:nth-child(odd) {
        position: relative;
        top: 100px;

        &:last-child {
          top: 0;
        }

        @include mixins.lg {
          position: static;
        }
      }
    }
  }
}