@use "../../../styles/scss/colors";

.question {
  opacity: 0.3;
  transition: all 500ms ease;
  scroll-margin-top: 450px;

  &[type="radio"],
  &[type="checkbox"] {
    scroll-margin-top: 300px;
  }

  /* &:global(.error) {
    textarea {
      background-color: red;
    }

    fieldset {
      background-color: red;
    }
  } */

  h3 {
    position: relative;
    font-weight: 500;
    margin-bottom: 0;

    &::before {
      position: absolute;
      right: calc(100% + 8px);
      counter-increment: question;
      content: counter(question) ". ";
      color: colors.$pink;
    }
  }

  small {
    color: colors.$carbon;
  }
}
