@use "../../../styles/scss/easings";

.interface {
  foreignObject {
    // sliding elements animation
    $slideDelay: 0;
    @for $i from 1 through 5 {
      &:global(.block):nth-of-type(#{$i}) > div {
        animation: fade-up 4.5s #{$slideDelay}ms easings.$outCirc infinite alternate both;
      }
      $slideDelay: $slideDelay + 300;
    }

    div {
      & > div {
        position: absolute;
      }
    }
  }

  :global(.line) > div {
    animation: write-line 4.5s 2s ease infinite alternate;
  }
}

@keyframes fade-up {
  0%,
  30% {
    opacity: 0;
    transform: translateY(56px);
  }

  80% {
    opacity: 1;
  }

  60%,
  100% {
    transform: translateY(0);
  }
}

@keyframes write-line {
  0%,
  40% {
    transform: translate3d(-100%, 0, 0);
  }

  60%,
  100% {
    transform: translate3d(0, 0, 0);
  }
}
