@use '../../../../styles/scss/mixins';

.section {
  padding-top: calc(80px + 115px);

  .text {
    max-width: 780px;
    margin: 0 auto;

    small {
      display: block;
    }

    h1 {
      margin: 24px auto;
    }

    & > * {
      text-align: center;
      margin: 0 auto;
    }
  }

  @include mixins.lg {
    padding-top: calc(80px + 80px);
  }
}
