@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid;
  border-image: linear-gradient(90deg, #555555ff 0%, #55555500 100%) 1;
  background-color: colors.$black;
  padding: 16px 40px 16px 16px;
  border-radius: 2px;
  margin: 16px auto;
  cursor: pointer;
  color: colors.$carbon;
  transition: all 350ms ease;

  &:first-child {
    margin-top: 32px;
  }
  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @include mixins.sm {
    padding: 20px 40px 20px 20px;
  }
  
  &:global(.selected) {
    border-image: linear-gradient(90deg, colors.$darkGray 0%, colors.$darkGray 100%) 1 !important;
    span {
      color: colors.$darkGray;
    }
    input {
      border-color: colors.$darkGray;
    }
  }

  .collapsedContent {
    flex-basis: 100%;
    color: colors.$darkGray;
    margin-left: calc(24px + 16px);
    padding: 24px 0 16px 0px;
    
    &.nested {
      padding: 8px 0 24px 0px;
      margin-right: 16px;
      
      @include mixins.sm {
        margin-right: 0;
        padding: 12px 0 8px 0px;
      }
    }
  }

  & > div {
    flex-basis: 100%;
    opacity: 0;
    transition: all 350ms ease;
    
    &:global(.show) {
      opacity: 1;
    }
  }
  
  span {
    transition: all 350ms ease;
    color: inherit;
    margin-left: 16px;
  }

  &:hover {
    border-image: linear-gradient(90deg, colors.$carbon 0%, colors.$carbon 100%) 1;
  }

  // nested text input, last question
  textarea {
    border-image: none;
    border: 0;
    border-bottom: 1px solid colors.$darkGray;
    background: linear-gradient(0deg, #0A0A0A 0%, rgba(10, 10, 10, 0) 100%);

    &:hover {
      border-image: none;
    }
  }
}