@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.textField {
  position: relative;
  background-color: colors.$black;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(90deg, #555555ff 0%, #55555500 100%) 1;
  border-radius: 2px;
  padding: 16px;
  width: 100%;
  color: colors.$darkGray;
  resize: none;
  overflow: hidden;
  transition: all 350ms ease;

  &:focus-visible {
    outline: 0;
    border-image: linear-gradient(90deg, colors.$darkGray 0%, colors.$darkGray 100%) 1 !important;
  }

  &:hover {
    border-image: linear-gradient(90deg, colors.$carbon 0%, colors.$carbon 100%) 1;
  }

  &::placeholder {
    color: colors.$carbon;
  }
}

.wrapper {
  scroll-margin-top: 400px;
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  & + small {
    display: inline-block;
    margin-top: 24px;
  }

  svg {
    position: absolute;
    right: 18px;
    opacity: 0;
    transition: all 350ms ease;
  }

  small {
    position: absolute;
    bottom: calc(-35% - 24px);
    right: 0;
    color: colors.$error;
    font-size: 14px;
    transition: all 350ms ease;
    opacity: 0;

    @include mixins.lg {
      font-size: 13px;
    }
  }
}
