@use "../scss/typography/mixins" as type;
@use "../scss/spacing" as s;

.section {
  padding: 150px;
  height: 4000px;

  /* background-image: url('https://cdn.pixabay.com/photo/2019/03/03/20/23/flowers-4032775__340.png'); */
  /* background-image: url('https://i.pinimg.com/originals/cc/55/e1/cc55e1a82ce355d546db0208a3acf177.jpg'); */
  /* background-image: url('https://img.freepik.com/free-vector/hand-drawn-colorful-abstract-leaves-pattern_79603-1779.jpg'); */
  background-size: 45%;

  & > section {
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    row-gap: 240px;

    button {
      width: max-content;
    }
  }
}

.main {
  padding: s.$spacer-32;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

// -=-=-=-=-

.h1 {
  @include type.display;
}
.h2 {
  @include type.heading-extra-large;
}
.h3 {
  @include type.heading-large;
}
.h4 {
  @include type.heading-medium;
}
.h5 {
  @include type.heading-small;
}
.h6 {
  @include type.heading-extra-small;
}
.overline {
  @include type.overline;
}
.pDefault {
  @include type.p-default;
}
.pBold {
  @include type.p-bold;
}
.pUnder {
  @include type.p-underline;
}
.smDefault {
  @include type.sm-default;
}
.smBold {
  @include type.sm-bold;
}
.smUnder {
  @include type.sm-underline;
}
.capDefault {
  @include type.caption-default;
}
.capBold {
  @include type.caption-bold;
}
.btnLarge {
  @include type.btn-default;
}
.btnDefault {
  @include type.btn-large;
}
