@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.section {
  margin-top: 120px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: linear-gradient(180deg, #010101 0%, rgba(1, 1, 1, 0) 100%);
  backdrop-filter: blur(5px);
  column-gap: 80px;
  padding: 40px;
  border: 0.75px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;
  border-bottom: 0;
  border-radius: 2px;

  @include mixins.xl {
    column-gap: 40px;
  }
  @include mixins.lg {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  @include mixins.md {
    row-gap: 80px;
    padding: 50px 32px;
  }

  p {
    margin-bottom: 0;
  }

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3,
    h6 {
      margin-bottom: 16px;
    }

    &:nth-child(2) {
      position: relative;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: calc(100% + 20px);
        background-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%);

        @include mixins.lg {
          background-image: none;
          background-color: colors.$carbon;
        }
      }

      &::before {
        left: -40px;
        @include mixins.xl {
          left: -20px;
        }
      }
      &::after {
        right: -40px;
        @include mixins.xl {
          right: -20px;
        }
      }

      @include mixins.lg {
        &::after,
        &::before {
          height: 1px;
          width: 100%;
        }
        &::before {
          left: auto;
          top: -20px;
        }
        &::after {
          top: auto;
          right: auto;
          bottom: -20px;
        }
      }

      @include mixins.md {
        &::before {
          top: -40px;
        }
        &::after {
          bottom: -40px;
        }
      }
    }
  }
}
