@import '../../../styles/scss/colors';
@import '../../../styles/scss/mixins';

.section {
  margin-top: 175px;
  padding-bottom: 275px;

  @include md() {
    margin-top: 150px;
    padding-bottom: 315px;
  }
}

.title {
  padding-top: 125px;
  padding-bottom: 75px;

  h1 {
    margin-bottom: 50px;
    text-align: center;
    &::before {
      content: "Reasons Why Hire Us";
    }
  }
  p {
    margin-bottom: 0;
    text-align: center;
  }

  @include md() {
    padding-top: 100px;
    padding-bottom: 50px;
    h1 {
      margin-bottom: 30px;
      &::before {
        content: "Why Hire Us";
      }
    }
  }
}

.card {
  padding: 40px 25px;
  height: 270px;
  background-color: $black;
  border: 1px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;

  h5 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}