@import 'scss/colors';
@import 'scss/typography';
@import 'scss/buttons';

body {
  background-color: $black;
  color: $lightGray;
  font-family: 'Inter', sans-serif;
  margin-top: 80px;
  overflow-x: hidden;
}

@include lg() {
  html {
    overflow-x: hidden;
  }
}

@include sm() {
  div.col-12 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $ghost;
  border-radius: 1000px;
}