@import 'scss/colors';
@import 'scss/typography';
@import 'scss/buttons';

body {
  background-color: $black;
  color: $lightGray;
  font-family: 'Inter', sans-serif;
  margin-top: 80px;
  overflow-x: hidden;
}

@include lg() {
  html {
    overflow-x: hidden;
  }
}

@include sm() {
  div.col-12 {
    padding-right: 30px;
    padding-left: 30px;
  }
}