@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(80px + 120px);

  & > * {
    text-align: center;
  }
  h1 {
    margin-bottom: 40px;
  }
  & > div {
    /* position: absolute; */
    div {
      white-space: break-spaces;
      margin: 40px 0;
      color: colors.$darkGray;
    }
  }
  img {
    width: 100%;
    height: auto;
  }

  @include mixins.lg {
    /* & > div {
      position: relative;
    } */

    img {
      display: none;
    }
  }
}
