@use '../../../styles/scss/colors';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(80px + 120px);
  margin-bottom: 1000px;

  & > * {
    text-align: center;
  }
  & > h1 {
    margin-bottom: 40px;
  }
  & > div {
    white-space: break-spaces;
    margin: 40px 0;
    color: colors.$darkGray;
  }
  img {
    width: 100%;
    height: auto;
    position: absolute;
  }
}