@use '../../../styles/scss/colors';
@use '../../../styles/scss/mixins';

.section {
  margin-top: 200px;
  overflow-x: hidden;

  :global {
    .swiper-container {
      overflow: initial;
      margin-left: 16.66666667% !important;
      @include mixins.md {
        margin-left: 0 !important;
      }
    }
    .swiper-slide {
      width: 395px !important;
      @include mixins.md {
        width: 315px !important;
      }
    }
    .swiper-wrapper {
      overflow-y: clip;
    }
    .container {
      @include mixins.sm {
        padding: 0 30px;
      }
    }
  }

  @include mixins.lg {
    margin-top: 150px;
  }
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;

  @include mixins.md {
    justify-content: center;
    margin-bottom: 50px;
    h1 {
      white-space: break-spaces;
    }
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;
  padding: 35px 30px;
  background-color: colors.$dark;
  height: 350px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;

  img {
    width: 17px;
    height: 14px;
  }

  &:active {
    cursor: grabbing;
  }

  small {
    display: inline-block;
  }

  & > div:last-child {
    display: flex;
    align-items: center;
    
    strong {
      font-weight: 500;
      color: colors.$lightGray;
      display: inline-block;
    }

    div {
      color: colors.$gray;
    }

    img {
      margin-right: 15px;
      height: 35px;
      width: 35px;
    }
  }

  @include mixins.md {
    height: 325px;
  }
}

.nav {
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: colors.$dark;
    color: colors.$white;
    border: 0;
    transition: all 250ms ease;

    &:first-child {
      margin-right: 10px;
    }

    &:hover {
      background-color: colors.$white;
      color: colors.$dark;
    }
  }
}