@use '../../../../styles/scss/mixins';

.form {
  counter-set: question;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  margin-bottom: 80px;

  & :disabled {
    opacity: 0.3;
  }

  :global {
    .active {
      opacity: 1;
    }
  }

  @include mixins.lg {
    margin-top: 80px;
    row-gap: 80px;
    margin-bottom: 40px;
  }
}

.form + div {
  display: flex;
  align-items: center;
  column-gap: 24px;
}