@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.section {
  padding-top: calc(80px + 120px);

  @include mixins.lg {
    display: block;
  }

  & > * {
    text-align: center;
  }
  h1 {
    margin-bottom: 40px;
  }
  h3 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 40px;
  }

  .textContent {
    margin-bottom: 160px;
    color: colors.$darkGray;

    @include mixins.md {
      white-space: break-spaces;
    }
  }
}

.mosaic {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;
  width: calc(100% + (8.228% * 2));
  left: -8.228%;
  top: -175px;

  & > div {
    width: calc(21.528% + 12px);
    text-align: left;
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: flex-end;

    img {
      z-index: -1;
    }

    &:nth-child(1) {
      margin-bottom: 65px;
    }
    &:nth-child(2) {
      margin-bottom: 200px;
    }
    &:nth-child(3) {
    }
    &:nth-child(4) {
      margin-bottom: 90px;
    }
    &:nth-child(5) {
      margin-bottom: 270px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 0.5) 100%),
      linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 0.75) 100%);
  }

  @include mixins.lg {
    display: none;
  }
}
