@use "../../../../styles/scss/colors";
@use "../../../../styles/scss/mixins";

.bumper {
  text-align: center;
  padding-top: 60vh;
  padding-bottom: 60vh;
  background-color: #09162e;
}

.spaceHolder {
  display: block;

  @include mixins.lg {
    height: auto !important;
  }
}

.sticky {
  height: 100vh;
  display: flex;

  @include mixins.lg {
    height: auto;
  }
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 40px;
  height: 100%;
  margin-top: calc(65px / 2);

  @include mixins.lg {
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: center;
  }

  & > div {
    display: flex;
    flex-shrink: 0;
    height: 80vh;
    width: 886px;

    @include mixins.lg {
      height: auto;
      width: 100%;
    }

    @include mixins.sm {
      padding: 0 18px;
    }

    &:last-child {
      text-align: center;
      padding-left: 120px;
      align-items: center;
      width: calc(886px / 1.5);

      @include mixins.lg {
        padding: 0;
        justify-content: center;
      }
    }

    img {
      object-fit: cover;

      @include mixins.lg {
        object-fit: contain;
      }
    }
  }
}
