@use "../../styles/scss/colors";
@use "../../styles/scss/mixins";

.section {
  height: 100vh;

  @include mixins.md {
    height: auto;
  }

  :global {
    .row {
      height: 100%;
      position: relative;
      top: -37px;
    }
    .instagram {
      display: none;
    }

    @include mixins.md {
      .row {
        height: auto;
        padding-top: 75px;
        top: 0;
      }
      .container-md {
        padding: 0;
      }
      .instagram {
        display: inline-flex;
      }
    }
  }
}

.article {
  img {
    margin-bottom: 45px;
  }

  h4 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;

    svg {
      fill: colors.$darkGray;
      margin-left: 7px;
    }
  }

  @include mixins.md {
    p,
    strong {
      display: none;
    }

    h4 {
      text-align: center;
      white-space: break-spaces;
      margin-bottom: 0;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 69%;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin: 60px 0;

  svg {
    margin-left: 50px;
    margin-right: 24px;
    path {
      fill: black;
    }
  }

  a {
    margin-bottom: 30px;
    color: colors.$black;
    height: 56px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      * {
        color: colors.$white;
        fill: colors.$white;
      }
    }
  }

  span {
    padding: 0 24px;
  }

  small,
  strong,
  span {
    display: inline-block;
    color: colors.$black;

    &:hover {
      color: colors.$white;
    }
  }

  @include mixins.lg {
    span,
    small {
      display: none;
    }

    a {
      justify-content: center;
    }

    svg {
      margin-left: 0;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  @include mixins.md {
    position: relative;
  }
}

.footerText {
  border-top: 1px solid colors.$carbon;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  @include mixins.md {
    justify-content: center;
  }
}
