@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";
@use "../../../styles/scss/spacing" as s;
@use "../../../styles/scss/typography/mixins" as type;

.section {
  textarea {
    border-image: none;
    border-color: colors.$gray-30;

    &::placeholder {
      visibility: visible;
    }
  }

  .illust {
    position: absolute;
    right: 0;
    width: 53%;

    @include mixins.md {
      display: none;
    }
  }
}

.formSection {
  p,
  h1 {
    white-space: break-spaces;

    @include mixins.xl {
      white-space: normal;
    }

    @include mixins.md {
      white-space: break-spaces;
      text-align: center;
    }

    @include mixins.sm {
      white-space: normal;
    }
  }

  :global(.gradient-bg) {
    margin-left: 0;
  }

  h1 {
    margin-top: s.$spacer-24;
    margin-bottom: s.$spacer-40;

    @include mixins.md {
      margin-top: s.$spacer-16;
    }
  }

  strong {
    @include type.underline;
  }

  form {
    & > div {
      margin-right: calc(100% / 6);

      &:first-of-type {
        margin-top: s.$spacer-40;
      }

      &:last-of-type {
        margin-top: 20px;
      }
    }

    @include mixins.md {
      text-align: center;

      & > div {
        margin-right: auto;
      }
    }
  }

  button {
    margin-top: 20px;
  }
}
