@use "../../../styles/scss/mixins";
@use "../../../styles/scss/colors";
@use "../../../styles/scss/spacing" as s;
@use "../../../styles/scss/typography/mixins" as type;

.section {
  @include mixins.lg {
    :global {
      .col-12:nth-child(2) > div {
        margin: 35px 0;
      }
    }
  }
}

.intro {
  text-align: center;

  :global(.overline) {
    margin-bottom: s.$spacer-16;
  }

  h2 {
    margin-bottom: s.$spacer-32;
    white-space: break-spaces;
  }

  p:last-child {
    margin-bottom: s.$spacer-72;
    white-space: break-spaces;
    
    @include mixins.sm {
      white-space: normal;
    }
  }

  @include mixins.md {
    h2 {
      white-space: normal;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}

.pack {
  background: linear-gradient(180deg, #010101 0%, rgba(1, 1, 1, 0) 100%);
  backdrop-filter: blur(5px);
  border: 0.75px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;
  border-bottom: 0;
  padding: 65px 40px 50px;
  opacity: 0.25;
  transition: all 350ms ease;
  margin-top: 20px;

  @include mixins.md {
    padding: 48px 32px;
    opacity: 1;
  }
  @include mixins.lg {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-20px);
    opacity: 1;

    @include mixins.lg {
      transform: initial;
    }
  }

  // Card Header
  & > div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: colors.$magenta;
      @include type.bold;
    }
  }

  // Card Body
  & > div:nth-child(2) {
    border-top: 1px solid colors.$carbon;
    border-bottom: 1px solid colors.$carbon;
    padding-top: s.$spacer-32;
    padding-bottom: s.$spacer-40;
    margin-top: s.$spacer-24;
    margin-bottom: s.$spacer-40;

    strong small {
      color: colors.$white;
    }

    a {
      display: inline-flex;
      align-items: center;
      &:hover {
        svg {
          path:first-child {
            fill: transparent;
          }
        }
      }

      &:global(.collapsed) {
        path {
          &:last-child {
            d: path("M 19 13 h -6 v 6 h -2 v -6 H 5 v -2 h 6 V 5 h 2 v 6 h 6 v 2 Z");
          }
        }
      }

      &:not(:global(.collapsed)) {
        path {
          &:last-child {
            d: path("M 19 13 h -6 v 6 h 0 v -6 H 5 v -2 h 6 V 5 h 0 v 6 h 6 v 2 Z");
            transform: rotate(180deg);
          }
        }
      }
    }

    svg {
      margin-right: 5px;
      path {
        transition: all 350ms ease;
        transform-origin: center;
      }
    }

    h6 {
      margin-bottom: 0;
      &::before,
      &::after {
        font-size: 18px;
        font-family: monospace;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 40px;

      li:not(:first-child) {
        margin-top: s.$spacer-24;
      }

      li > div > div {
        padding-top: s.$spacer-16;
        padding-left: s.$spacer-16;
      }
    }
  }

  // Card Footer
  & > div:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: s.$spacer-24;
    flex-wrap: wrap;

    :global(.overline) {
      color: colors.$white;
    }
  }

  // Note:
  & > p {
    color: colors.$gray-40;
  }
}

.active {
  transform: translateY(-20px);
  opacity: 1;

  @include mixins.lg {
    transform: initial;
  }
}
