@use "../../../styles/scss/mixins";
@use "../../../styles/scss/colors";

.section {
  margin-top: 150px;

  @include mixins.lg {
    :global {
      .col-12:nth-child(2) > div {
        margin: 35px 0;
      }
    }
  }
}

.intro {
  text-align: center;

  h1 {
    margin-top: 25px;
    margin-bottom: 50px;
    white-space: break-spaces;
  }

  h4 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 100px;
  }

  @include mixins.md {
    h1 {
      white-space: normal;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}

.pack {
  background: linear-gradient(180deg, #010101 0%, rgba(1, 1, 1, 0) 100%);
  backdrop-filter: blur(5px);
  border: 0.75px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;
  border-bottom: 0;
  padding: 65px 40px 50px;
  opacity: 0.25;
  transition: all 350ms ease;

  @include mixins.md {
    padding: 48px 32px;
    opacity: 1;
  }
  @include mixins.lg {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-20px);
    opacity: 1;

    @include mixins.lg {
      transform: initial;
    }
  }

  p {
    margin-bottom: 0;
    color: colors.$carbon;
  }

  // Card Header
  & > div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2,
    h6 {
      margin: 0;
    }
    h6 {
      color: colors.$pink;
    }
  }

  // Card Body
  & > div:nth-child(2) {
    border-top: 1px solid colors.$carbon;
    border-bottom: 1px solid colors.$carbon;
    padding: 40px 0;
    margin: 25px 0 40px;

    strong small {
      color: colors.$white;
    }

    a {
      display: inline-flex;
      align-items: center;
      &:hover {
        svg {
          path:first-child {
            fill: transparent;
          }
        }
      }

      &:global(.collapsed) {
        path {
          &:last-child {
            d: path("M 19 13 h -6 v 6 h -2 v -6 H 5 v -2 h 6 V 5 h 2 v 6 h 6 v 2 Z");
          }
        }
      }

      &:not(:global(.collapsed)) {
        path {
          &:last-child {
            d: path("M 19 13 h -6 v 6 h 0 v -6 H 5 v -2 h 6 V 5 h 0 v 6 h 6 v 2 Z");
            transform: rotate(180deg);
          }
        }
      }
    }

    svg {
      margin-right: 5px;
      path {
        transition: all 350ms ease;
        transform-origin: center;
      }
    }

    h6 {
      margin-bottom: 0;
      &::before,
      &::after {
        font-size: 18px;
        font-family: monospace;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 40px;

      li:not(:first-child) {
        margin-top: 25px;
      }

      li > div > div {
        padding-top: 5px;
        padding-left: 15px;
      }
    }
  }

  // Card Footer
  & > div:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    h4 {
      margin-bottom: 0;
    }
  }
}

.active {
  transform: translateY(-20px);
  opacity: 1;

  @include mixins.lg {
    transform: initial;
  }
}
