@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.title {
  @include mixins.sm {
    margin-top: 24vmin;
  }

  h4 {
    color: colors.$darkGray;
  }
  h1 {
    margin-bottom: 0;
    white-space: break-spaces;
  }
}
