@use "../../../styles/scss/mixins";
@use "../../../styles/scss/colors";
@use "../../../styles/scss/keyframes";

.section {
  margin-top: 250px;
  backdrop-filter: opacity(1);
  scroll-margin-top: 150px;

  article {
    z-index: 1;

    a {
      transition: all 300ms ease-out;  
    }

    a:hover {
      transform: translateY(8px);
    }
  }

  article div {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include mixins.md {
    margin-top: 175px;

    article {
      text-align: center;
      margin-top: 75px;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 35px;
      margin-bottom: 35px;
    }
  }
}