@use "sass:math";
@use "sass:list";
@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";
@use "../../../styles/scss/spacing" as s;
@use "../../../styles/scss/typography/mixins" as type;

@include mixins.logo-animation;

.section {
  overflow: hidden;
  
  @include mixins.lg {
    margin-top: 150px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: s.$spacer-56;
  gap: 24px;

  @include mixins.sm {
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      flex-basis: 100%;
      text-align: center;
    }
  }
}

.card {
  padding: 40px 25px;
  height: 270px;
  background-color: colors.$black;
  border: 0.75px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;

  & svg {
    animation: logo-animation 3.5s ease infinite alternate;
    width: 40px;
    height: 40px;
  }

  h3 {
    @include type.heading-extra-small;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @include mixins.md {
    padding: 40px 40px 80px 40px;
  }
}
