@import '../../../styles/scss/colors';
@import '../../../styles/scss/mixins';

.section {
  margin-top: 250px;

  @include md() {
    margin-top: 150px;
  }
}

.title {
  h1 {
    margin-bottom: 50px;
    text-align: center;
    span {
      font-size: inherit;
      color: inherit;
      font-weight: inherit;
    }
  }
  p {
    margin-bottom: 75px;
    text-align: center;
    white-space: break-spaces;
  }

  @include md() {
    h1 {
      margin-bottom: 30px;
    }
  }
}

.card {
  padding: 40px 25px;
  height: 270px;
  background-color: $black;
  border: 1px solid;
  border-image: linear-gradient(180deg, #555555 0%, rgba(85, 85, 85, 0) 100%) 1;

  h5 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}