@import "../../../styles/scss/colors";
@import "../../../styles/scss/mixins";
@import "../../../styles/scss/keyframes";

.section {
  margin-top: 250px;
  scroll-margin-top: 120px;

  article {
    &:last-child {
      margin-top: 150px;
      @include md() {
        margin-top: 75px;
      }
    }

    h2,
    h3,
    h4 {
      margin-bottom: 30px;
    }

    div {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    a {
      color: $ghost !important;
      svg {
        margin-left: 5px;
        path {
          color: $ghost;
        }
      }
    }
  }

  @include md() {
    margin-top: 150px;
    article {
      h2 {
        margin-bottom: 35px;
      }
      h5 {
        margin-bottom: 0;
      }
    }
  }

  @include sm() {
    article {
      padding: 0 15px;
    }
  }
}

.title {
  text-align: center;

  h3 {
    color: $gray;
    margin: 0 auto;
  }
  h1 {
    margin-bottom: 50px;
  }

  @include md() {
    h3 {
      text-align: center;
    }
    h1 {
      margin-bottom: 75px;
    }
  }
}

.image {
  position: sticky;
  top: 120px;

  & > div {
    position: relative;
    z-index: 1;

    img:not(img:first-child) {
      position: absolute;
    }

    svg {
      position: absolute;
      top: 100px;
      left: 315px;
    }
    // pattern
    img:nth-of-type(2) {
      top: 100px;
      left: 245px;
    }
    // grayscale
    img:nth-of-type(3) {
      top: 350px;
      left: 160px;
    }
    // picker
    img:nth-of-type(4) {
      top: 225px;
      left: 405px;
    }
    // tech creativity
    img:nth-of-type(5) {
      top: 435px;
      left: 345px;
    }
    //pin
    img:nth-of-type(6) {
      top: 200px;
      left: 400px;
    }

    & > div {
      position: absolute;
      top: 150px;
      left: 20px;
      z-index: -1;

      code {
        position: absolute;
        top: 103px;
        left: 83px;
        display: flex;

        div {
          :global {
            .Typewriter__wrapper {
              font-size: 11px;
              color: $darkGray;
            }
          }
        }

        & > span:first-child,
        & > span:last-child {
          display: inline-block;
          font-size: 11px;
          color: #f5d67b;
        }

        & > span:last-child {
          margin-left: -5px;
        }
      }
    }
  }

  @include md() {
    margin-bottom: 75px;
  }
}
