@import '../../../styles/scss/colors';
@import '../../../styles/scss/mixins';

.section {
  margin-top: 250px;
  & * {
    overflow-x: unset;
  }

  article {
    &:last-child {
      margin-top: 150px;
      @include md() {
        margin-top: 75px;
      }
    }

    h2, h3, h4 {
      margin-bottom: 30px;
    }

    div {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    a {
      color: $ghost !important;
      svg {
        margin-left: 5px;
        path {
          color: $ghost;
        }
      }
    }
  }

  @include md() {
    margin-top: 150px;
    article {
      h2 {
        margin-bottom: 35px;
      }
      h5 {
        margin-bottom: 0;
      }
    }
  }

  @include sm() {
    article {
      padding: 0 15px;
    }
  }
}

.title {
  position: sticky;
  top: 150px;
  h3 {
    color: $gray;
  }
  h1 {
    margin-bottom: 50px;
  }

  @include md() {
    h3 {
      text-align: center;
    }
    h1 {
      margin-bottom: 75px;
    }
  }
}

.img {
  position: sticky;
  top: 300px;

  @include md() {
    margin-bottom: 75px;
  }
}