@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";
@use "../../../styles/scss/spacing" as s;
@use "../../../styles/scss/typography/mixins" as type;

.section {
}

.textContent {
  & > div {
    :global(.overline) {
      margin-bottom: s.$spacer-16;
      margin-left: 0;
    }

    &:first-child {
      padding-bottom: s.$spacer-32;
      margin-bottom: s.$spacer-32;
      border-bottom: 0.75px solid;
      border-left: 0;
      border-top: 0;
      border-color: colors.$gray-50;

      h2 {
        margin-bottom: s.$spacer-32;

        @include mixins.sm {
          white-space: break-spaces;
        }
      }

      @include mixins.lg {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
      @include mixins.md {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        text-align: center;
      }
    }

    &:last-child {
      h2 {
        @include type.heading-medium;
      }

      p {
        margin: s.$spacer-32 0;
      }

      @include mixins.md {
        display: none;
      }
    }
  }

  h1 {
    margin: 16px 0 24px 0;
    @include mixins.lg {
      margin: 24px 0 32px 0;
    }
  }

  @include mixins.lg {
    margin-bottom: 48px;
  }
}
