@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.section {
  margin-top: 200px;

  h4 {
    margin-left: 0;
  }

  p,
  h4,
  h2 {
    margin-bottom: 0;
  }

  @include mixins.md {
    margin-top: 160px;
    h4 {
      text-align: center;
      margin-left: auto;
    }
  }
}

.textContent {
  & > div {
    &:first-child {
      padding-bottom: 60px;
      margin-bottom: 60px;
      border-bottom: 1px solid;
      border-left: 0;
      border-top: 0;
      border-image: linear-gradient(90deg, #555555ff 0%, #55555500 100%) 1;
      
      @include mixins.lg {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
      @include mixins.md {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        text-align: center;
      }
    }
  }

  & > div {
    &:last-child {
      p {
        margin: 16px 0 24px 0;
        @include mixins.lg {
          margin: 24px 0 30px 0;
        }
      }

      @include mixins.md {
        display: none;
      }
    }
  }

  h1 {
    margin: 16px 0 24px 0;
    @include mixins.lg {
      margin: 24px 0 32px 0;
    }
  }

  @include mixins.lg {
    margin-bottom: 48px;
  }
}

.placeholder {
  height: 100%;
  background-color: colors.$lightDark;
  display: flex;
  justify-content: center;
  align-items: center;
}
