@keyframes ani {
  from {
    opacity: 0;
    transform: rotateX(200deg);
  }
  to {
    opacity: 1;
    transform: rotateX(360deg);
  }
}

.logotype {
  display: flex;
  gap: 2.2%;
  width: 500px;
}

.char {
  position: relative;
  perspective: 300px;
  transform-style: preserve-3d;

  /* animation: ani 1600ms ease-in-out infinite alternate; */

  & > div {
    display: none;
    transform-origin: center center -150px;

    &.visible {
      display: flex;
      backface-visibility: hidden;
      animation: ani 0.5s both;
    }
  }

  svg {
    width: 100%;
    height: auto;
    position: relative;

    &.visible {
      display: flex;
    }

    /* &:not(:nth-child(3)) {
      display: none;
    } */
  }
}
