@import '../../../styles/scss/colors';
@import '../../../styles/scss/mixins';

.section {
  margin-top: -125px;
  @include md() {
    margin-top: -50%;
  }
}

.contact {
  position: relative;
  height: 250px;
  border-radius: 2px;
  background: rgba($color: $black, $alpha: 0.25);
  backdrop-filter: blur(5px);
  border: 1px solid;
  border-image: linear-gradient(rgb(182, 182, 182) 0%, rgba(182, 182, 182, 0) 100%) 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  @include lg() {
    height: auto;
    padding: 50px 40px;
    h1 {
      margin-bottom: 50px;
    }
    p {
      text-align: center;
      margin-bottom: 35px;
    }
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include lg() {
      align-items: center;   
    }

    a {
      margin-bottom: 25px;

      @include md() {
        padding: 0 15px;
      }
    }

    small {
      display: block;
      text-align: right;

      @include lg {
        text-align: center;
      }
    }
  }
}