@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";
@use "../../../styles/scss/keyframes";

.section {
  border-top: 1px solid rgba($color: colors.$white, $alpha: 0.15);
  backdrop-filter: blur(5px);
  background-color: rgba($color: colors.$black, $alpha: 0.5);

  &:global(.fullpage) {
    position: absolute;
    width: 100%;
    bottom: 0;

    @include mixins.md {
      position: relative;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  padding: 30px 0;

  & > :only-child {
    text-align: center;
    justify-content: center !important;
  }

  small {
    flex: 1;
    @include mixins.md {
      order: 1;
      margin-top: 15px;
    }
  }

  & > div:last-child {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    a {
      cursor: pointer;
      &:hover {
        transform: translateY(-4px);
      }
    }

    svg {
      margin-right: 10px;
    }
  }

  @include mixins.md {
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
  }
}

.socials {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    color: colors.$gray-20;

    path {
      transition: fill 250ms ease;
    }

    &:hover {
      transform: translateY(-4px);
      path {
        fill: colors.$magenta;
      }
    }
  }

  & > a:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
