@use "../../styles/scss/mixins";
@use "../../styles/scss/colors";

.header {
  min-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  transition: min-height 350ms ease;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  a[href="/"] {
    &:only-child {
      svg {
        margin: auto;
      }
    }
  }

  .logo:hover {
    path:last-child {
      fill: colors.$pink;
    }
  }

  @include mixins.md {
    padding: 0 25px;
  }

  nav {
    width: 100%;
    padding: 0;

    ul {
      column-gap: 36px;
    }
  }
}

.shrink {
  min-height: 65px;
}
