@use "../../../styles/scss/keyframes";
@use "../../../styles/scss/colors";
@use "../../../styles/scss/mixins";

.illustration {
  position: relative;
  width: max-content;

  @include mixins.md {
    left: -90px;
    transform: scale(0.7);
  }

  & > svg {
    position: absolute;

    &:nth-of-type(1) {
      top: 250px;
      left: 8px;

      path {
        // "Digital" animation
        $digitalDelay: 0;
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            animation: design 6s #{$digitalDelay}ms ease-in-out infinite alternate both;
          }
          $digitalDelay: $digitalDelay + 50;
        }

        // "Design" animation
        $designDelay: 0;
        @for $i from 7 through 14 {
          &:nth-child(#{$i}) {
            animation: digital 6s #{$designDelay}ms ease-in-out infinite alternate both;
          }
          $designDelay: $designDelay + 250;
        }
      }
    }
    &:nth-of-type(2) {
      top: 38px;
      left: 100px;
      z-index: -1;
      animation: rotate 11s linear infinite;
    }
    &:nth-of-type(3) {
      top: 418px;
      left: 310px;
      z-index: -1;
    }
  }

  .search {
    position: absolute;
    top: 113px;
    left: 290px;

    svg {
      backdrop-filter: blur(5px);
      &:nth-of-type(2) {
        margin-top: 16px;
        margin-bottom: 12px;
        opacity: 0;
      }
      &:nth-of-type(3) {
        opacity: 0;
      }
    }
  }

  & > span:last-of-type {
    position: absolute !important;
    top: 60px;
    left: 87px;
    z-index: -2;
  }

  :global {
    #search-text {
      height: 100%;
      display: flex;
      align-items: center;

      span {
        &.writer-wrapper {
          color: colors.$gray;
          font-size: 10px;
          line-height: 18px;
        }
        &.writer-cursor {
          color: colors.$magenta;
        }
      }
    }
  }
}

//

@keyframes digital {
  0%,
  25% {
    stroke-dasharray: 0 100%;
    stroke-opacity: 0;
  }

  30% {
    stroke-opacity: 1;
  }

  45%,
  100% {
    stroke-dasharray: 100% 0;
    stroke-opacity: 1;
  }
}

@keyframes design {
  0%,
  65% {
    opacity: 0;
  }

  75%,
  100% {
    opacity: 1;
  }
}
