@use "../../../../styles/scss/colors";
@use "../../../../styles/scss/mixins";

.projects {
  position: relative;
  transition: all 350ms ease;

  img {
    width: 100%;
    height: auto;
    transition: all 350ms cubic-bezier(0.27, 0.6, 0.12, 1.02);
  }

  a {
    @include mixins.lg {
      position: relative !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important;
      left: auto !important;
    }
    box-shadow: 0px 10px 150px rgba(0, 0, 0, 0.75);
  }

  &:nth-child(1) a {
    position: relative;
    top: 130px;
  }

  &:nth-child(3) a {
    position: relative;
    top: 130px;
    left: 205px;
  }

  &:nth-child(5) a {
    position: absolute;
    bottom: 140px;
    height: auto;
    div {
      span {
        display: none;

        @include mixins.lg {
          display: block;
        }
      }
    }
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    div {
      position: absolute;
      z-index: 5;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 25px 30px;

      h5,
      span {
        opacity: 0;
        transform: translateY(50px);
        transition: all 500ms cubic-bezier(0.02, 0.62, 0.04, 1.01);
      }

      h5 {
        transition-delay: 0ms;
      }

      span {
        transition-delay: 200ms;
        color: colors.$white;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 175px;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all 250ms ease;
      background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 0.75) 100%);
    }

    &:hover {
      transform: scale(1.04);
      z-index: 3;

      &::after {
        opacity: 1;
      }

      h5,
      span {
        opacity: 1;
        transform: initial;
      }
    }
  }
}

.seeAll {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  top: calc((-24px) + (-50%));
  height: 125px;
  background-color: colors.$lightGray;
  transition: all 350ms cubic-bezier(0.27, 0.6, 0.12, 1.02);

  svg {
    width: 35px;
    height: 25px;
  }

  path {
    transition: all 350ms ease;
    fill: colors.$dark;
  }

  &:hover {
    z-index: 4;
    path {
      fill: #1769ff !important;
    }
  }

  a {
    color: colors.$ghost !important;
    &:hover {
      color: colors.$ghost !important;
    }
  }

  h4 {
    color: colors.$dark;
    margin-bottom: 0;
  }

  svg {
    margin-right: 20px;
  }

  @include mixins.lg {
    top: auto;
  }
}

.seeAll {
  span {
    color: colors.$ghost !important;
  }
}
