.btn {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 2px;
  padding: 0 16px;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  transform: none;
  transition: all 150ms ease;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
    height: 32px;
    padding: 0 14px;
  }
  
  &.large {
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    padding: 0 18px;
  }
}