// Wireframes / Grayscale
$white:     #FFFFFF;
$lightGray: #E7E7E7;
$gray:      #D5D5D5;
$darkGray:  #B6B6B6;
$carbon:    #555555;
$dark:      #0A0A0A;
$lightDark: #101010;
/* $black:     #010101; */

//

// New Grayscale
/* $white: #FFFFFF; */
$gray-20: #CCCCCC;
$gray-30: #666666;
$gray-40: #3D3D3D;
$gray-50: #292929;
$gray-60: #1A1A1A;
$gray-70: #141414;
$gray-80: #101010;
$gray-90: #0A0A0A;
$black: #010101;

// Brand
$cyan: #59CBE8;
$blue: #10069F;
$magenta: #E93CAC;

// Support
$error: #FF6673;
$warning: #F5D67B;
$success: #0ac285;