// Wireframes / Grayscale
$white:     #FFFFFF;
$lightGray: #E7E7E7;
$gray:      #B6B6B6;
$ghost:     #555555;
$dark:      #0A0A0A;
$black:     #010101;

// Brand
$cyan: #59CBE8;
$blue: #10069F;
$pink: #E93CAC;