@use "colors";

@keyframes rotate {
  from {
    transform: initial;
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-delay {
  0%,
  5% {
    transform: rotate(0deg);
  }

  95%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient-pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes pin-pulse {
  0% {
    transform: scale(0.99);
    opacity: 1;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    transform: scale(0.99);
    opacity: 0;
  }
}

@keyframes grain { 
  0%  { transform: translate(20%, -15%); }
  10% { transform: translate(-20%, -15%); }
  20% { transform: translate(20%, -5%); }
  30% { transform: translate(-20%, -5%); }
  40% { transform: translate(20%, 5%); }
  50% { transform: translate(-20%, 5%); }
  60% { transform: translate(20%, 15%); }
  70% { transform: translate(-20%, 15%); }
  80% { transform: translate(20%, 5%); }
  90% { transform: translate(-20%, 5%); }
  100% { transform: translate(20%, -5%); }
}

@keyframes grad-1 {
  0% {
    transform: rotate(-20deg) translateX(20%);
  }
  25% {
    transform: skew(-15deg, -15deg) rotate(80deg) translateX(30%);
  }
  50% {
    transform: rotate(180deg) translateX(25%);
  }
  100% {
    transform: rotate(340deg) translateX(20%);
  }
}

@keyframes grad-2 {
  0% {
    transform: rotate(40deg) translateX(-20%);
  }
  25% {
    transform: skew(15deg, 15deg) rotate(110deg) translateX(-5%);
  }
  50% {
    transform: rotate(210deg) translateX(-35%);
  }
  75% {
    transform: skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
  }
  100% {
    transform: rotate(400deg) translateX(-20%);
  }
}

@keyframes grad-3 {
  0% {
    transform: translateX(-15%) translateY(10%);
  }
  20% {
    transform: translateX(20%) translateY(-30%);
  }
  40% {
    transform: translateX(-25%) translateY(-15%);
  }
  60% {
    transform: translateX(30%) translateY(20%);
  }
  80% {
    transform: translateX(5%) translateY(35%);
  }
  100% {
    transform: translateX(-15%) translateY(10%);
  }
}