@use "colors";

@mixin xxl {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin stroke-animation($name, $length) {
  @keyframes #{$name} {
    0% {
      stroke-dashoffset: $length;
    }
    25% {
      stroke-dashoffset: $length;
    }
    75% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
}