$spacer-240: 240px;
$spacer-200: 200px;
$spacer-160: 160px;
$spacer-120: 120px;
$spacer-96: 96px;
$spacer-80: 80px;
$spacer-72: 72px;
$spacer-56: 56px;
$spacer-48: 48px;
$spacer-32: 32px;
$spacer-24: 24px;
$spacer-16: 16px;
$spacer-8: 8px;