@import 'colors';
@import 'mixins';

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $white;
}


h1 { // xxl
  font-size: 48px;
  line-height: 72px;
}

h2 { // xl
  font-size: 36px;
  line-height: 54px;
}

h3 { // lg
  font-size: 24px;
  line-height: 36px;
}

h4 { // md
  font-size: 20px;
  line-height: 30px;
}

h5 { // sm
  font-size: 16px;
  line-height: 24px;
}

h6 { // xs
  font-size: 14px;
  line-height: 21px;
}

p, span, strong {
  font-size: 16px;
  line-height: 26px;
}

small, .small {
  font-size: 14px;
  line-height: 21px;
  color: $gray;
}

.details {
  font-size: 12px;
  line-height: 18px;
}

p, span {
  color: $gray;
}

strong, .strong {
  font-weight: 600;
  color: $white;
}

.nav-link {
  padding: 0 !important;
}

a:not(.btn) {
  text-decoration: none;
  color: $gray !important;
  transition: all 250ms ease;

  path {
    transition: all 250ms ease;
  }

  &:hover {
    color: $white !important;
    path {
      fill: $white;
    }
  }
}

@include lg() {
  h1 { // xxl
    font-size: 32px;
    line-height: 44px;
  }
  
  h2 { // xl
    font-size: 24px;
    line-height: 34px;
  }
  
  h3 { // lg
    font-size: 22px;
    line-height: 32px;
  }
  
  h4 { // md
    font-size: 18px;
    line-height: 28px;
  }
  
  h5 { // sm
    font-size: 14px;
    line-height: 22px;
  }
  
  h6 { // xs
    font-size: 13px;
    line-height: 20px;
  }
  
  p, a span, strong {
    font-size: 14px;
    line-height: 24px;
  }
  
  small, .small {
    font-size: 13px;
    line-height: 21px;
  }
  
  .details {
    font-size: 10px;
    line-height: 18px;
  }
}

@include md() {
  h1 {
    text-align: center;
  }
}