@use "../colors";
@use "../mixins";
@use './mixins' as type;
@use "../keyframes";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$white;
  font-family: Merriweather, "serif";
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

h1 {
  // display
  @include type.display;
}

h2 {
  // xl
  @include type.heading-extra-large;
}

h3 {
  // lg
  @include type.heading-large;
}

h4 {
  // md
  @include type.heading-medium;
}

h5 {
  // sm
  @include type.heading-small;
}

h6 {
  // xs
  @include type.heading-extra-small;
}

p,
span,
strong {
  font-size: 16px;
  line-height: 26px;
}

small,
.small {
  font-size: 14px;
  line-height: 22px;
  color: colors.$gray-20;
  strong {
    font-size: 14px;
    line-height: 21px;
  }
}

.details {
  font-size: 12px;
  line-height: 18px;
}

p,
span {
  color: colors.$gray-20;
}

.overline {
  @include type.overline;
  color: colors.$magenta;
}

strong,
.bold {
  @include type.bold;
  color: colors.$white;
}

.nav-link {
  padding: 0 !important;
}

a:not(.btn) {
  text-decoration: none;
  color: colors.$darkGray;
  transition: all 250ms ease;

  &:hover {
    color: colors.$white !important;
    /* path {
      fill: white;
    } */
  }
}

@include mixins.lg {
  p,
  a span,
  strong {
    font-size: 14px;
    line-height: 24px;
  }

  small,
  .small {
    font-size: 12px;
    line-height: 18px;
    strong {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .details {
    font-size: 10px;
    line-height: 16px;
  }
}

//
// TODO: fazer um componente para o efeito de texto em gradiente que seja mais performático
//

.gradient-bg {
  color: transparent !important;
  background-clip: text;
  animation: text-gradient 10s ease-in-out infinite alternate;
  background-size: 500%;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(-60deg, colors.$magenta, colors.$cyan);

  @include mixins.md {
    width: auto;
  }
}

@keyframes text-gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
